/*baniere  */
#baniere-blog{
    background-image: url(../images/blog/baniere.png);
    height: 65vh;
    width: 100%;
    box-sizing: border-box;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    justify-content: start; /* Alignement horizontal au début */
    align-items: center;
}
/* Titre de la bannière */
#baniere-blog .baniere-content h2 {
    font-size: 48px;
    margin-bottom: 20px;
    color: white;
}
/* Paragraphes de la bannière */
#baniere-blog .baniere-content p {
    font-size: 23px;
    margin-bottom: 10px;
    color: white;
    
}
/* Section blog */
#blog{
    margin: 20px 30px;
}

/* Article */
.article{
    display: flex;
    gap: 30px;
    margin-bottom: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid #eee; /* Ligne de séparation entre chaque article */
}
/* Dernier article sans ligne de séparation */
.article:last-child {
    border-bottom: none;
    margin-bottom: 0;
}
/* Image de l'article */

.article-image img {
    
    width: 200px;
    height: 250px;
    object-fit: cover;
    border-radius: 8px;
}

/* Contenu de l'article */

.article-content h3 {
    font-size: 1.4rem;
    color: #264653;
    margin-bottom: 8px;
}
/* Date de l'article */
.article-date {
    color: #6c757d;
    font-size: 0.9rem;
    margin-bottom: 15px;
}

.article-content p {
    color: #495057;
    line-height: 1.6;
    margin-bottom: 15px;
}
/* Lien "Lire plus" */
.lire-plus {
    color: #ff008c;
    text-decoration: none;
    font-weight: 600;
}
/* Effet au survol */
.lire-plus:hover {
    text-decoration: underline;
}



/* media query*/
/*ajustement pour tablette*/
@media (max-width:820px){
    #baniere-blog{
    height: 45vh;
}
#baniere-blog .baniere-content h2 {
    font-size: 44px;
    
}

#baniere-blog .baniere-content p {
    font-size: 19px;
}
}

/*ajustement pour smartphones*/
@media (max-width: 477px){
    #blog{
    margin: 15px 20px;
}
    #baniere-blog .baniere-content h2 {
    font-size: 35px; 
}
#baniere-blog .baniere-content p {
    font-size: 17px;
}

.article{
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.article-image img {   
    width: 150px;
    height: 150px;
}
}