@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

h1{
    font-size: 50px;
    line-height: 64px;
    color: #151515;
}
h2{
    font-size: 46px;
    line-height: 54px;
    color: #151515;
}

h4{
    font-size: 20px;
    color: #151515;
}
p{
    color: #151515;
    font-size: 15px;
}
body{
    width: 100%;
}
/*entete du site*/
#entete{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 80px;
    background: #e0e0e0;
    box-shadow: 0 5px 15px rgba(0,0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}
/*ajustement du logo */
.logo {
    width: 90%;
    height: 120px;
    object-fit: contain;
    transition: 0.5s;
}

/*disposition des element de la barre de navigation avec flex-box*/
#barnav {
    display: flex;
    align-items: center;
    justify-content: center;
}
 /*style pour la liste */
#barnav li{
    list-style: none; /*enlever les puces de la liste*/
    padding: 0 20px;
    position: relative; /*position relative pour que l'element soit souligné avec ::after qui est en absolute*/
}

#barnav li a {
    text-decoration: none;
    font-size: 17px;
    font-weight: 600;
    color: #222;
    transition: 0.3s;
}

/*colorier la page en actuelle*/
#barnav li a:hover, #barnav li a.active{
    color:#ff008c;
}

/*ajout d'un ptetit trait en dessous des lien des pages actuelles ou bien survolé */
#barnav li a.active::after,#barnav li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background-color: #ff008c ;
    position: absolute;
    bottom: -4px;
    left: 20px;
}
/*masquer les bouton de la version mobile */ 
#mobile{
    display: none;
    align-items: center;
}

#fermer{
    display: none;
}
/* /////////////////////// */


/*page d'accueil*/

/* baniere produits */ 
/*style de la baniere*/
#proHome{
    background-image: url("../images/page_Accueil/fondProd.png");
    height: 40vh;
    width: 100%;
    box-sizing: border-box;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
#proHome h4{
    padding-bottom: 15px;
    color: #F4F7F6;
}
#proHome h1{
    color:#F4F7F6;
}
#proHome button{
    cursor: pointer;
    margin: 15px 0;
    padding: 15px 30px;
    border-radius: 25px;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    background-color: #ff008c;
    color: white;
    border: none;
    transition: 0.3s;
}
#proHome button:hover{
    color: #ff008c;
    background-color: white;
    transition: 0.4s ease-in-out;
    box-shadow: 0px 15px 30px rgba(0,0,0,0.2);
    transform: scale(1.2);
    
}
/* ///////////// /*

/*best seller page d accueil*/
#bestSeller{
    margin-top: 15px;
    text-align: center;
}
/* disposition des cartes des produit avec flex box */
#bestSeller .prodContainer {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    flex-wrap: wrap;
    gap: 40px;
}

#bestSeller h2{
    font-size: 30px;
}
#bestSeller  p {
    font-weight: 500;
    font-size: 20px;
}
#bestSeller  .pro{
    position: relative;
}
/*  masquer le h3 pour eviter l'erreur donné par W3C (skipping 1 heading level.) */
#bestSeller > h3{
    display: none; /*eviter l'erreur pour W3C*/
}
 /*style appliqué aux cartes des produits */
#bestSeller .pro {
    width: 19%;
    min-width: 250px;  /*largeur fixe de la carte */
    border: 1px solid #eee;
    background: #ffffff;  
    margin: 10px 10px;
    text-align: center; 
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 15px;
    transition: 0.3s;

}
/* ajout d'une ombre au survole*/
#bestSeller .pro:hover{
    box-shadow: 20px 20px 30px rgba(0,0, 0, 0.06);
}
/* image produit*/
#bestSeller .pro img{
    width: 80%; /* largeur adaptative*/
    height: 250px; /* hauteur fixe*/
    border-radius: 20px;
    object-fit: contain;
}
 /*description des produits (nom marque prix et avis*/
#bestSeller .pro .desc {
    text-align: start;
    padding: 10px 10px;
}
#bestSeller .pro .desc span {
    font-size: 12px;
    color: #888;
    text-transform: uppercase;
    letter-spacing: 1px;
}
#bestSeller .pro .desc h4 {
    margin-top: 3px;
    font-size: 20px;
    font-weight: 600;
    color: #1a1a1a;
    line-height: 1.3;
}
#bestSeller .pro .desc h5 {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 700;
    color: #ff008c;
}
/*bouton ajouter au panier*/
#bestSeller .pro button{
    background:  #ff8aca24 url("../images/chariot.svg") no-repeat center;
    background-size: 22px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    color: transparent; /* cacher le texte Acheter */
    transition: 0.3s;
    position: absolute;
    bottom: 20px;
    right: 10px; /*placer en bas a droite de la carte*/
}
#bestSeller .pro button:hover{
    transform: scale(1.15);
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    background-color:  #ff008c;
}

/*avis*/
#bestSeller .etoile {
    display: inline-flex;         
    align-items: center;   /* aligner l etoile et le nombre */
    gap: 5px;             
    font-size: 15px;
   font-weight: 500;
    margin: 5px 0;        /* Un peu d'espace au dessus/dessous */
}
#bestSeller .etoile img{
    height: 14px;
    width: 14px;
    padding-bottom: 0;
    margin-left: 4px;
}


/*baniere pour les programmes */
#progHome{
    background-image: url("../images/page_Accueil/fondProg.png");
    height: 85vh;
    width: 100%;
    box-sizing: border-box;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
#progHome h4{
     padding-bottom: 15px;
    color: #F4F7F6;
}
#progHome h2{
    color:#F4F7F6;
}
#progHome button{
    cursor: pointer;
    margin: 15px 0;
    padding: 15px 30px;
    border-radius: 25px;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    background-color: #ff008c;
    color: white;
    border: none;
    transition: 0.3s;
}
#progHome button:hover{
    color: #ff008c;
    background-color: white;
    transition: 0.4s ease-in-out;
    box-shadow: 0px 15px 30px rgba(0,0,0,0.2);
    transform: scale(1.2);
    
}

/* Partie pour les programme sur la page d accueil*/
#progAcc {
    margin-top: 15px;
    text-align: center;
}
#progAcc p{
    font-weight: 600;
    font-size: 20px;
}
#progAcc h2{
    font-size: 30px;
}
/*afficher les cartes des programmes avec flex-box*/
#progAcc .ProgContainer{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    flex-wrap: wrap;
    gap: 40px;

}
/*style de des cartes */
#progAcc .prog {
    width: 19%;
    min-width: 250px;
    border: 1px solid #eee;
    background: #ffffff;  
    box-shadow: 10px 15px 20px rgba(0,0, 0, 0.08);
    margin: 10px 10px;
    text-align: center; 
    padding-bottom: 10px;
    cursor: pointer;
    transition: 0.3s;
}

#progAcc .prog .desc2 p{
    font-size: 14px;
    font-weight: 300;

}
#progAcc .prog img{
    object-fit: contain;
    width: 100%;        /* L'image prend toute la largeur de la carte */
    height: 250px;      /* FIXE la hauteur (ajuste selon tes besoins) */
    object-fit: cover;  /* Remplis l'espace sans déformer l'image */
    object-position: center; 
    border-radius: 5px;
    border-top-left-radius: 0; /*pas de bordures arrondis sur le haut de la carte*/
    border-top-right-radius: 0;
}

#progAcc .prog:hover{
   box-shadow: 0px 15px 24px rgba(0, 0, 0, 0.3);
}
#progAcc .prog .desc2{
    padding-left: 15px;
    text-align: start;
}

#progAcc .prog .btn-prog{
    border: 1px solid #ff008c;
    color: #ff008c;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px 35px;
    font-size: 20px;
    background-color: white;
    transition: 0.3s ease;
    text-decoration: none;     
    display: inline-block;     /* pour que padding et margin marchent bien */
}
#progAcc .prog .btn-prog:hover{
    transform: scale(1.05);
    background-color: #ff008c;
    color: white;
    border-color: white;
}

/*baniere pour la newsletter*/
#newsletter {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
    align-items: center;
    background-image: url("../images/page_Accueil/newsL.jpg");
    height: 22vh;
    width: 100%; /*prends 100% de la largeur de l'ecran*/
    box-sizing: border-box;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 100px;
    margin-top: 20px;
    margin-bottom: 20px;
}
#newsletter h4{
    font-size: 22px;
    font-weight: 700;
    color: white;
}
#newsletter p{
    font-size: 14px;
    font-weight: 600;
    color: rgb(195, 195, 195); 
    margin-top: 15px;
}
#newsletter p span{
    color: #ff008c; 
}
#newsletter .form{
    display: flex;
    width: 40%;
}
#newsletter input{
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 14px;
    width: 100%;
    border: 1px solid black;
    border-radius: 4px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    outline: none;
}
#newsletter button{
    cursor: pointer;
    padding: 8px 30px;
    border-radius: 4px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    font-size: 17px;
    background-color: #ff008c;
    color: white;
    border: none;
    transition: 0.3s;
}

/*pied de page*/
.piedPage{
    padding: 40px 80px;
}
.Col{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
/*afficher en colonnes*/
footer .colonne{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}
footer img{
    height: 40px;
    width: 40px;
    cursor: pointer;
}
footer .logo{
    height: 70px;
    width: 70px;
    
}
footer .pa{
    height: 70px;
    width: 350px;
}
footer h4{
    font-size: 16px;
    padding-bottom: 20px;
}
footer p{
    font-size: 15px;
    margin: 0 0 8px 0;
}
footer a{
    font-size: 15px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}

footer .copyright{
    text-align: center;
    font-size: 12px;
    
}

footer a:hover{
    color: #ff008c;
 }


/*Media query*/
/*tablettes et écrans moyens*/
@media (max-width:820px){
#barnav {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -350px;
    height: 100vh;
    width: 300px;
    background-color: #c2c2c2;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    padding: 80px 0 0 10px;
    transition: 0.3s;
}
/* quand le bouton pour afficher le menu est cliqué on lui ajoute l'attribut pour l'afficher a l'ecran*/
#barnav.active{
    right: 0px;
}
#barnav li{
    margin-bottom: 25px;
}
#mobile{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
#mobile button{
    background:  url("../images/page_Accueil/icon/bar.svg") no-repeat center;
    background-size: 22px;
    width: 50px;
    height: 50px;
    margin-left: 20px;
    border: none;

    cursor: pointer;
    color: transparent; /* chacher le texte "bar" */
    transition: 0.3s;
}
#mobile a{
    text-decoration: none;
    font-size: 17px;
    font-weight: 600;
    color: #222;
   transition: 0.3s;
}

/*style du botton  X pour fermer le menu coulissant*/
#fermer{
    display: initial; /*re afficher le bouton sur mobile*/
    color: #222;
    font-size: 24px;
    text-decoration: none;
    font-weight: 500;
} /*cacher le panier du menou coulissant */
#pan {
    display: none;
}  
/* diminuer la taille de de l image*/
#proHome { 
    height: 40vh;
    background-position: top 30% right 10%;
    padding: 0 80px;
}

#progAcc .ProgContainer {
    flex-direction: column;
    align-items: center;
}
#progAcc .prog {
    width: 50%;
    
}
#progHome{
   
    height: 70vh;
    background-position: top 35% right 45%;
    padding: 0 80px;
}
#newsletter .form {
    width: 80%;
}
}
/* Media Query spécifique pour Téléphones (iPhone, etc.) */
@media (max-width: 477px) {
    /* --- BARRE DE NAVIGATION --- */
    html, body {
    overflow-x: hidden; /* Empêche tout défilement vers la droite */
    width: 100%;
    }
    #entete{
        padding: 10px 30px;
    }
    #proHome{
        padding: 0 20px;
        background-position: 70%;
    }
     h4 {
        font-size: 15px;
    }
    h1 {
        font-size: 30px;
    }
     h2 {
    font-size: 25px;
    }

    /*afficher une carte par ligne sur petit ecran et retrecir le texte et la taille des images*/
#bestSeller .pro, #progAcc .prog {
        width: 90%; /* Une seule carte par ligne sur téléphone */
        margin: 10px auto;
    }
  #progHome{
   
    height: 55vh;
    background-position: top 35% right 35%;
    padding: 0 80px;
}
#newsletter {  
    height: 25vh; 
    padding: 0 10px 10px 30px;
}
#newsletter button {
   
    padding: 3px 30px;
    font-size: 10px;
}
}